/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 120vh;
  text-align: center;
  background: url(/images/img1.jpg) no-repeat center;
}

/* .container{
	width: 550px;
	height: 450px;
} */

.lb-chapter-bar {
  width: 100%;
  position: relative;
  margin: 5vw 0;
  display: inline-block;
  /* float: left; */
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  left: 0px;
  letter-spacing: 0.28px;
  line-height: 30px;
  outline-color: white;
  outline-style: solid;
  outline-width: 1px;
  text-size-adjust: 100%;
  width: 1260px;
  z-index: -1;
}

.lb-chapter-bar-left {
  position: relative;
  float: left;
  color: white;
}

.lb-chapter-bar-left div {
  display: inline-block;
  /*line-height: 10px;*/
  border-right: 1px solid black;
  padding-right: 1em;
  padding-left: 1em;
  border-color: white;
}

.lb-chapter-bar-right {
  position: relative;
  float: right;
  display: block;
  font-style: normal;
  font-weight: 400;
  color: white;
}

.lb-chapter-bar-right div {
  display: inline-block;
  border-left: 1px solid white;
  padding-left: 1em;
  padding-right: 1em;
  margin-right: 1em;
}

/* .main-content{
	width: 100%;
	height: 300px;
	background-color: white;
	border-radius: 15px;
	padding: 50px 40px;
	box-shadow: 0 0;

} */

.main-content .text-area {
  font-size: 1rem;
  line-height: 1.5;
}

/* p{
	margin:10px;
	font-size: 30px;
	font-weight: lighter;
	font-family: Georgia, 'Times New Roman', Times, serif;
	transform: scale(1);
	transition:scale(0.3s);
} */

p:hover {
  transform: scale(1.1);
}

.qoute {
  line-height: normal;
  font-size: 35px;
  font-style: bold;
  font-weight: 100;
}

.title {
  font-size: 50px;
  font-weight: 50px;
  -webkit-font-smoothing: antialiased;
}

img {
  width: 76px;
}

.img1 {
  display: inline;
  opacity: 1;
  transition: opacity 0.9s;
  background-color: white;
}

.img:hover {
  opacity: 0.4;
}

.two {
  width: 15px;
  height: auto;
}

.main-content {
  background-color: white;
  height: 3px;
  opacity: 0.9;
  width: 60%;
  height: 80%;
  padding: 70px;
  position: relative;
  left: 650px;
  z-index: 1;
}

.main-content .person {
  font-size: 2rem;
  color: black;
  /* text-transform: uppercase; */
  margin-top: 10px;
  margin-bottom: 100px;
}

.button-area a {
  outline: 3px solid black !important;
  padding: 20px;
  font-size: 20px;
  border-color: blue;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
  position: fixed;
  top: 500px;
  right: 750px;
}

a:hover {
  opacity: 0.4;
}

.button-area a:active {
  background-color: black;
}

/* .lineBarUp{
	background: linear-gradient(to right, black);
	width:100%;
	height:1px;
	border: 0 none;
	margin-right: auto;
	margin-left:auto;
	margin-top: 50px;
	background-color:black;
}
.lineBarDown{
	background: linear-gradient(to right, black);
	width:100%;
	height:1px;
	border: 0 none;
	margin-right: auto;
	margin-left:auto;
	margin-top: 30px;
	background-color:black;
} */

/* .lineBar{
	
	background: linear-gradient(to right, black);
	width:100%;
	height:1px;
	border: 0 none;
	margin-right: auto;
	margin-left:auto;
	margin-top: 30px;
	background-color:black;

}  */